Debug
Release
ReleaseTest
x64
.git
Debug
packages
Release
ReleaseTest
Tests\Release
BulletHellMaker\Debug
BulletHellMaker\Release
BulletHellMaker\ReleaseTest
BulletHellMaker\*.dll
.vs
*.pdb
*.vcxproj.filters
*.vcxproj.user
