Debug
Release
ReleaseTest
x64
.git
Debug
packages
build
Release
Game
DebugGenerateLib
DebugTests
BulletHellMaker/Level Packs
BulletHellMaker/Shaders
BulletHellMaker/Debug
BulletHellMaker/Release
BulletHellMaker/ReleaseTest
BulletHellMaker/*.dll
.vs
*.pdb
*.vcxproj.filters
*.vcxproj.user
*.sln
*.vcxproj
*.dll
*.lastbuildstate
*.tlog
*.log
*.obj
*.idb
*.exe
